/* BASE */
body {
  min-height: 100vh;
  background: url('../images/background.png') no-repeat center/cover;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 30px;
}

header h1 {
  color: #ff3333;
  text-shadow: 0 0 15px #ff3333;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}


/* =====================
   RARIDADES
===================== */
/* seção */
.rarity-section {
  max-width: 900px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* card base */
.weapon-card {
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 15px;

  border: 1px solid rgba(255,255,255,0.2);
  transition: 0.2s;

  text-decoration: none;
  color: white;
}

.weapon-card:hover {
  transform: scale(1.01);
}

/* topo */
.weapon-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* conteúdo */
.weapon-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* imagem */
.weapon-content img {
  width: 180px;
}

/* stats */
.stats p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

/* =================
   CORES RARIDADE
================= */

/* comum */
.common {
  border-left: 5px solid #aaa;
}
.common span { color: #ccc; }

/* raro */
.rare {
  border-left: 5px solid #4da6ff;
}
.rare span { color: #4da6ff; }

/* épico */
.epic {
  border-left: 5px solid #b366ff;
}
.epic span { color: #b366ff; }

/* lendário */
.legendary {
  border-left: 5px solid #ffaa00;
}
.legendary span { color: #ffaa00; }



/* container geral */
.stats {
  width: 100%;
}


/* ===== LINHA DE CIMA ===== */
.stats-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  margin-bottom: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* cada item de cima */
.stats-top p {
  text-align: center;
  background: rgba(255,255,255,0.05);
  padding: 8px;
  border-radius: 6px;
}

/* ===== LISTA DE BAIXO ===== */
.stats-bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* itens de baixo */
.stats-bottom p {
  display: flex;
  justify-content: space-between;

  padding: 6px 8px;
  background: rgba(255,255,255,0.03);
  border-radius: 4px;
}

/*================
   NOTA ESPECIAL
==================*/
.special-note {
  max-width: 900px;
  margin: 10px auto 20px;

  background: rgba(80, 0, 0, 0.6);
  border: 1px solid rgba(255, 50, 50, 0.4);
  border-left: 4px solid #ff3333;

  padding: 12px 15px;
  border-radius: 8px;

  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px rgba(255,50,50,0.2);
}

/* título */
.special-note strong {
  color: #ff4d4d;
  display: block;
  margin-bottom: 5px;
  font-size: 0.95rem;
}

/* texto */
.special-note p {
  font-size: 0.9rem;
  color: rgba(255,255,255,0.85);
}